@import url('https://fonts.googleapis.com/css?family=Cardo:400,700|Lato:100,300,400,700,900');

/* GENERAL */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #DEDEDE;
}

body::-webkit-scrollbar { width: 0 !important }

h1,h2,h3,h4,h5,h6 {
  font-family: 'Cardo', serif;
  font-weight: 400;
}

h1{font-size: 32px;}h2{font-size: 24px;}h3{font-size: 18px;}h4{font-size: 16px;}h5{font-size: 14px;}h6{font-size: 11px;}

p,a,li,blockquote {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #DEDEDE;
}

/*NAV ICON*/
.nav-icon {
  position: fixed;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  right: 38px;
  top: 20px;
  z-index: 9999;
}

.nav-icon:hover {
  cursor: pointer;
}

.nav-icon img {
  position: relative;
  width: 100%;
}

#bar-one {
  position: absolute;
  bottom: 10px;
}

#bar-two {
  position: absolute;
}

#bar-three {
  position: absolute;
  top: 15px;
}

.nav-items {
  position: fixed;
  width: 130px;
  height: auto;
  right: 20px;
  background-color: #BAB075;
  top: 70px;
  text-align: center;
  z-index: 9999;
}

.nav-items h4 {
  padding: 15px 0;
  letter-spacing: 2px;
  font-weight: 800;
}

#nav-photo {
  color: #031015;
}

#nav-photo:hover {
  color: #DEDEDE;
}

#nav-design {
  color: #031015;
}

#nav-design:hover {
  color: #DEDEDE;
}

#nav-work {
  color: #DEDEDE;
}

#nav-work:hover {
  color: #031015;
}

/*DESIGN*/
.gallery {
  width: 100%;
  height: 100%;
  background: #DEDEDE;
  animation-name: fadeIn;
  animation-duration: 3.50s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

/*HEADER*/
.header {
  width: 100%;
  height: auto;
  text-align: center;
  overflow: hidden;
  color: #031015;
}

.header-title {
  position: relative;
  width: auto;
  height: auto;
  padding: 20px;
}

.header-title h1 {
  position: relative;
  width: auto;
  font-size: 40px;
  font-weight: 800;
  text-shadow: 2px 2px #BAB075;
  animation-name: fadeInRight;
  animation-duration: 5.50s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

.header-title h3 {
  position: relative;
  width: auto;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  padding-bottom: 30px;
  border-bottom: 2px solid #031015;
  color: #bab075;
  animation-name: fadeInLeft;
  animation-duration: 5.50s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

/*DESIGN CONTENTS*/

.grid {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  column-count: 3;
  column-gap: 0;
  width: 90%;
  height: 80%;
}

.grid-item {
  break-inside: avoid;
  padding: 5px;
  text-align: center;
  animation-name: fadeInUp;
  animation-duration: 5.50s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}
.grid-item img{
  max-width: 300px;
  padding: 10px;
  border-radius: 10px;
}

/*KEYFRAMES*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 90%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(90%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-90%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

/*MEDIA QUERIES*/
@media screen and (max-width: 1100px) {
  .grid {
    column-count: 2;
  }
}
@media screen and (max-width: 725px) {
  .nav-icon {
    right: 0px;
    top: 10px;
  }
  .grid {
    column-count: 1;
  }

  .header h1 {
    font-size: 34px;
  }

  .header h3 {
    font-size: 18px;
  }
}
